@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    color-scheme: dark;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 7px;
    border: 2px solid #a0a0a0;
}